@font-face {
  font-family: 'apps-font';
  src:  url('../fonts/apps-font.eot?v831q8');
  src:  url('../fonts/apps-font.eot?v831q8#iefix') format('embedded-opentype'),
    url('../fonts/apps-font.ttf?v831q8') format('truetype'),
    url('../fonts/apps-font.woff?v831q8') format('woff'),
    url('../fonts/apps-font.svg?v831q8#apps-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apps-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e114";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}
.icon-search:before {
  content: "\e036";
}
.icon-add:before {
  content: "\e145";
}
.icon-check3:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-done:before {
  content: "\e876";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-check2:before {
  content: "\e116";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-user:before {
  content: "\f007";
}
.icon-lock:before {
  content: "\f023";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-check:before {
  content: "\f00c";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-location2:before {
  content: "\e948";
}
.icon-medical14:before {
  content: "\e006";
}
.icon-medicine:before {
  content: "\e008";
}
.icon-ambulance:before {
  content: "\e010";
}
.icon-blood12:before {
  content: "\e017";
}
.icon-brain9:before {
  content: "\e01b";
}
.icon-brush:before {
  content: "\e01e";
}
.icon-heart-signla:before {
  content: "\e02e";
}
.icon-medical51:before {
  content: "\e045";
}
.icon-opened15:before {
  content: "\e054";
}
.icon-pharmacy:before {
  content: "\e059";
}
.icon-teeth2:before {
  content: "\e06a";
}
.icon-dentist:before {
  content: "\e08a";
}
.icon-heart36:before {
  content: "\e09c";
}
.icon-monitor:before {
  content: "\e0b6";
}
.icon-scalpe:before {
  content: "\e0bf";
}
.icon-science-micro:before {
  content: "\e0c0";
}
.icon-stethoscope:before {
  content: "\e0c4";
}
.icon-stethoscopes:before {
  content: "\e0c5";
}
.icon-sunglasses:before {
  content: "\e0c7";
}
.icon-light-tick:before {
  content: "\e75d";
}
.icon-light-close:before {
  content: "\e75e";
}
.icon-round-thik:before {
  content: "\e770";
}
.icon-round-close:before {
  content: "\e771";
}
.icon-uniE761:before {
  content: "\e761";
}
.icon-uniE762:before {
  content: "\e762";
}
.icon-uniE763:before {
  content: "\e763";
}
.icon-uniE764:before {
  content: "\e764";
}
.icon-uniE765:before {
  content: "\e765";
}
.icon-uniE766:before {
  content: "\e766";
}
.icon-alert:before {
  content: "\e76e";
}
.icon-uniE772:before {
  content: "\e772";
}
.icon-uniE773:before {
  content: "\e773";
}
.icon-uniE774:before {
  content: "\e774";
}
.icon-uniE775:before {
  content: "\e775";
}
.icon-uniE776:before {
  content: "\e776";
}
.icon-uniE777:before {
  content: "\e777";
}
.icon-uniE778:before {
  content: "\e778";
}
.icon-uniE779:before {
  content: "\e779";
}
.icon-uniE77A:before {
  content: "\e77a";
}
.icon-uniE77B:before {
  content: "\e77b";
}
.icon-hospital17:before {
  content: "\e034";
}

